##### VARIABLES #####
	PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/skilbjo/.local/bin:/home/skilbjo/bin
	MAILTO=jskilbeck@yapstone.com
	JOBS="/home/skilbjo/node/app/etl/jobs"

##### Daily #####
	## Transaction
		0 22 4 * * skilbjo cd $JOBS ; node load_transaction.js >/dev/null

##### Monthly #####




